# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
env/
venv/
.mypy_cache/
.pytest_cache/
.coverage
*.egg-info/

# ==========================
# Environment files (Secrets)
# ==========================
.env
.env.*
!.env.example 
!.env.*.example

# ==========================
# Logs
# ==========================
*.log
logs/
*.pid
*.seed
*.pid.lock

# ==========================
# OS / Editor junk files
# ==========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sqlite3
