@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary: #ff4d4d;
  --secondary: #333;
  --white: #ffffff;
  --accent: #333;
  --soft: #f4f6f9;
  --bg: #f6fbff;
  --muted: #6b7280;
  --radius: 12px;
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --font-roboto: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary);
  font-family: var(--font-roboto);
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1rem;
}
h1 {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 800;
}
h2 {
  font-size: 36px;
  line-height: 1.2;
}
h3 {
  font-size: 28px;
  line-height: 1.3;
}
h4 {
  font-size: 22px;
  line-height: 1.4;
}
h5 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
}
h6 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}
p {
  font-size: 16px;
  line-height: 1.6;
  color: #555555;
  margin-bottom: 0.5rem;
}
a {
  text-decoration: none;
  font-family: var(--font-roboto);
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
.container {
  max-width: 1304px;
  padding-inline: 12px;
  margin-inline: auto;
}
.btn {
  display: inline-block;
  padding: 12px 32px;
  background: white;
  color: var(--secondary);
  font-weight: 700;
  border-radius: var(--radius);
  border: 1px solid var(--secondary);
  transition: all linear 0.3s;
}
.btn:hover {
  background-color: var(--secondary);
  color: var(--white);
}
.btn-primary {
  border: var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

/* header section start */
.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.main-header {
  background-color: #ffffff;
  padding: 20px 0;
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  max-width: 70px;
  width: 100%;
}
.logo a {
  display: block;
  width: 100%;
}

.logo span {
  color: #ff4d4d;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  padding: 8px 12px;
  color: var(--secondary);
  font-weight: 600;
  transition: all linear 0.3s;
  position: relative;
  display: block;
}
.navbar ul li a:hover {
  color: var(--primary);
}
.navbar ul li a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  background-color: var(--primary);
  transform: translateX(-50%);
  transition: all linear 0.3s;
}
.navbar ul li a:hover::after {
  width: 100%;
}

.cart-icon {
  position: relative;
  font-size: 22px;
}

.cart-icon a {
  color: #333;
}

.badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #ff4d4d;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}
/* header section end */
/* hero section start*/
.hero-slider {
  width: 100%;
  padding-block: 50px;
}

.slide-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.text-box .tag {
  display: inline-block;
  background: #ff4d4d;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
}

.text-box h1 {
  font-size: 48px;
  margin: 20px 0;
  line-height: 1.1;
}

.text-box span {
  color: #ff4d4d;
}

.shop-btn {
  display: inline-block;
  padding: 12px 35px;
  background: var(--primary);
  color: white;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 20px;
}

.img-box {
  flex: 1;
  text-align: right;
}

.img-box img {
  max-width: 400px;
  filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.1));
}

/* Customizing Swiper Buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #222 !important;
}
.swiper-pagination-bullet-active {
  background: #ff4d4d !important;
}
/* hero section end */
/* category section start */
.categories-section {
  padding: 60px 0;
  background-color: var(--bg);
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.section-title h2 {
  color: var(--secondary);
  margin-bottom: 10px;
}

.section-title p {
  color: #777;
}
.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
}
.cat-item {
  background: var(--white);
  padding: 30px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  transition: all 0.4s ease;
  border: 1px solid transparent;
  display: block;
  box-shadow: var(--shadow);
}

.cat-icon-box {
  width: 80px;
  height: 80px;
  background: var(--white);
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all linear 0.3s;
  box-shadow: var(--shadow);
}

.cat-icon-box img {
  width: 45px;
  height: 45px;
}

.cat-item h4 {
  color: #333;
  margin-bottom: 5px;
}

.cat-item p {
  font-size: 14px;
  color: #888;
  margin-bottom: 0;
}

.cat-item:hover {
  border-color: var(--primary);
  transform: translateY(-10px);
}

.cat-item:hover h3 {
  color: var(--primary);
}
/* category section end */
/* product card section start */
.product-section {
  padding: 40px 0;
}
.product-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}
.product-card {
  position: relative;
  box-shadow: var(--shadow);
  background: var(--bg);
  border-radius: var(--radius);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  background: var(--primary);
  color: white;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  padding: 20px;
  background: #f0f0f0;
}

.product-tumb img {
  height: 100%;
}

.product-details {
  padding: 20px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary);
  margin-bottom: 5px;
}

.product-details h4 a {
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: all linear 0.3s;
}

.product-details h4 a:hover {
  color: var(--primary);
}

.product-details p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-size: 18px;
  color: var(--primary);
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
  color: #ccc;
}

.product-links a {
  margin-left: 10px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 18px;
}

.product-links a:hover {
  color: var(--primary);
}
/* product card section end */
/* footer section start */
.footer {
  background-color: #1a1a1a;
  padding: 70px 0 0;
  color: var(--white);
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.footer-col h4 {
  font-size: 18px;
  color: var(--white);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4 span {
  color: var(--primary);
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--primary);
  height: 2px;
  width: 50px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: var(--white);
  padding-left: 8px;
}

.footer-col p {
  font-size: 14px;
  color: #bbbbbb;
  line-height: 24px;
}

/* Newsletter Styles */
.newsletter-form {
  display: flex;
  margin-top: 20px;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 100%;
}

.newsletter-form button {
  background-color: var(--primary);
  border: none;
  color: var(--white);
  padding: 10px 15px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter-form button:hover {
  background-color: var(--primary);
}

.footer-bottom {
  background-color: #111;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid #333;
}

.footer-bottom p {
  font-size: 14px;
  color: #888;
}

/* Responsive Design */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* footer section end */

/* responsive */
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 15px;
  }
}
