{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock title %}</title>
  {% block css_link %}{% endblock css_link %}
  <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
</head>

<body>
  <button class="scroll-to-top" id="scrollTopBtn">
    <i class="fas fa-arrow-up"></i> 
    <span class="progress-circle"></span> 
  </button>
  {% block full_content %}{% endblock full_content %}
  {% block js_link %}{% endblock js_link %}
  <script src="{% static 'js/base.js' %}"></script>
</body>

</html>